<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>El Cedro - Registrarse</title>
	<!-- CSS y Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
	<link href="/CSS/Registrar.css" rel="stylesheet">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
		integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Logo -->
	<link rel="icon" href="/IMG/user.svg" />
	<!-- Logo -->

</head>

<body>

	<!--Mensaje Exito-->
	<center>
		<section class="message neutral" th:if=${param.exito}>
			<header></header>
			<i></i>
			<h2>
				<span>Excelente!</span>
				Se ha registrado exitosamente a la aplicación!
			</h2>
		</section>
	</center>
	<!--Mensaje Exito-->
	

	<form class="formulario" th:action="@{/registro}" method="post" th:object="${usuario}">

		<div class="contenedor">

			<!--Tittle-->
			<h1>Registrate</h1>
			<!--Tittle-->

			<!--Nombres-->
			<div class="input-contenedor">
				<i class="fas fa-user icon"></i>
				<input type="text" name="firstname" placeholder="Nombres" required
					th:onkeypress="return SoloLetras(event);" th:field="*{nombre}">
			</div>
			<!--Nombres-->

			<!--Apellidos-->
			<div class="input-contenedor">
				<i class="fas fa-user icon"></i>
				<input type="text" placeholder="Apellidos" required th:onkeypress="return SoloLetras(event);"
					th:field="*{apellido}">

			</div>
			<!--Apellidos-->

			<!--Tipo_documento-->
			<div class="input-contenedor">


				<select class="form-control" aria-label="Default select example" style="width: 100%;"
					th:field="*{tipo_documento}">

					<option value="Selecciona">Selecciona tipo de documento</option>
					<option value="Cedula de ciudadania">Cedula de ciudadania</option>
					<option value="Cedula de extranjeria">Cedula de extranjeria</option>
					<option value="Pasaporte">Pasaporte</option>
				</select>
			</div>
			<!--Tipo_documento-->

			<!--Documento-->
			<div class="input-contenedor">
				<i><img src="img/Id.svg" id="Phone"></i>
				<input type="text" id="celular" placeholder="Número de documento" required
					th:onkeypress="return SoloNumeros(event);" th:field="*{numero_documento}">

			</div>

			<!--Documento-->

			<!--Dirección-->
			<div class="input-contenedor">
				<i><img src="img/home.svg" id="Phone"></i>
				<input type="text" placeholder="    Dirección completa" required th:field="*{direccion}">

			</div>
			<!--Dirección-->

			<!--Telefono-->

			<div class="input-contenedor">
				<i><img src="img/phone.svg" id="Phone"></i>
				<input type="text" id="celular" placeholder="    Número de teléfono" required
					th:onkeypress="return SoloNumeros(event);" maxlength="10" th:field="*{telefono}">

			</div>
			<!--Telefono-->



			<!--Correo-->
			<div class="input-contenedor">
				<i class="fas fa-envelope icon"></i>
				<input type="text" id="email" placeholder="Correo Electronico" th:field="*{email}">

			</div>
			<!--Correo-->

			<!--Contraseña-->
			<div id="form" onkeypress="enterEnviar(event);"></div>
			<div id="resultado"></div>
			<div class="input-contenedor">
				<i class="fas fa-key icon"></i>
				<input type="password" id="pass" placeholder="Contraseña" minlength="5" th:field="*{password}">

			</div>



			<!--Contraseña-->

			<!--Boton y link-->
			<p><input type="checkbox" id="cbox1" value="first_checkbox" required> Al registrarte, aceptas nuestras
				Condiciones de
				uso y Política de privacidad.</p>


			<div>
				<input type="submit" value="Registrar" class="button"><br><br>
			</div>

			<p>¿Ya tienes una cuenta?<a class="link" href="login">
					Iniciar Sesión</a></p>

			<!--Boton y link-->
	</form>

	</div>
	</div>
	</div>


	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>

</html>