<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>CRUDS</title>
	<!-- CSS y Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.6.1.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="CSS/index.css">
	<link rel="stylesheet" href="CSS/Slide - Menú.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- CSS y Bootstrap -->

	<!-- Logo -->
	<link rel="icon" href="/IMG/tree.svg" />
	<!-- Logo -->
</head>

<body>

	<!--Header-->
	<header>

		<a href="">
			<img src="/IMG/Header-web.png" title="El Cedro" style="margin-top:-2% ; width: 100.1%; " />

	</header>
	<!--Header-->



	<!--Contenido-->
	
	<center>
	
	<div>
		<a href="users"><button type="button" class="btn btn-primary">Usuarios</button></a>
	</div>
	
	<div>
	 	<a href="insumos"><button type="button" class="btn btn-secondary">Insumos</button></a>
	</div>
	
	<div>
		<a href="entradas"><button type="button" class="btn btn-success">Entrada</button></a>
	</div>
	
	<div>
		<a href="salidas"><button type="button" class="btn btn-warning">Salidas</button></a>
	</div>
	
	<div>
		<a href="ventas"><button type="button" class="btn btn-danger">Ventas</button></a>
	</div>
	
	<div>
		<a href="cotizaciones"><button type="button" class="btn btn-outline-primary">Cotizaciones</button></a>
	</div>
	
	
	<div>
		<a href="DetalleCo"><button type="button" class="btn btn-outline-primary">Detalle Cotización</button></a>
	</div>
	
	<div>
		<a href="ordenesp"><button type="button" class="btn btn-primary">Orden de produccion</button></a>
	</div>
	
	<div>
		<a href="productosCRUD"><button type="button" class="btn btn-outline-success">Productos</button></a>
	</div>
	
	<div>
		<a href="disenos"><button type="button" class="btn btn-outline-success">Diseño</button></a>
	</div>
	
	<div>
		<a href="maderas"><button type="button" class="btn btn-outline-primary">Madera</button></a>
	</div>
	
	
	
	</center>



	<!--Contenido-->






</body>

</html>