<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
	<meta charset="utf-8">
	<title>Error de permisos</title>


	<!-- CSS y Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.6.1.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


	<link rel="stylesheet" href="CSS/Slide - Menú.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

	
	<!-- CSS y Bootstrap -->

	<!-- Logo -->
	<link rel="icon" href="/IMG/error.svg">
	<!-- Logo -->
	
	
	<style>
	body{
	 	background: url("/IMG/Error.jpg") no-repeat;
	}	
	</style>
	
</head>

<body>
	
	<center>
	<div class="alert alert-danger" role="alert">
		No tienes permisos para estar aqui!
	</div>
	</center>
	
</body>

</html>