<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>El Cedro - Iniciar sesión</title>
	<!-- CSS y Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />


	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" />

	<link th:href="@{/CSS/Iniciar.css}" rel="stylesheet" />



	<!-- Logo -->
	<link rel="icon" href="/IMG/user.svg" />
	<!-- Logo -->

	<style>
		.password-icon {
			float: right;
			position: relative;
			margin: -25px 10px 0 0;
			cursor: pointer;

		}

		.formulario {
			margin-top: 15%;
		}
	</style>

</head>

<body>



	<!--Vaalidación-->

	<script>
		window.addEventListener("load", function () {

			// icono para mostrar contraseña
			showPassword = document.querySelector('.show-password');
			showPassword.addEventListener('click', () => {

				// elementos input de tipo clave
				password1 = document.querySelector('.password1');
				password2 = document.querySelector('.password2');

				if (password1.type === "text") {
					password1.type = "password"
					password2.type = "password"
					showPassword.classList.remove('fa-eye-slash');
				} else {
					password1.type = "text"
					password2.type = "text"
					showPassword.classList.toggle("fa-eye-slash");
				}

			})

		});
	</script>


	<!--Alertas-->
	<center>
		<section class="message neutral" th:if=${param.logout}>
			<header></header>
			<i></i>
			<h2>
				<span>Muy bien!</span>
				Se ha cerrado sesión exitosamente!
			</h2>
		</section>
	</center>

	<center>
		<section class="message error" th:if=${param.error}>
			<header></header>
			<i></i>
			<h2>
				<span>Error!</span>
				El correo o la contraseña estan mal digitados!
			</h2>
		</section>
	</center>




	<!--Alertas-->


	<form class="formulario" th:action="@{/login}" method="POST">

		<h1>Iniciar sesión</h1>
		<div class="contenedor">




			<!--Campos-->
			<div class="input-contenedor">
				<i class="fas fa-envelope icon"></i>
				<input id="u" type="text" name="username" placeholder="Correo Electronico" maxlength="30"
					autofocus="autofocus" required>

			</div>

			<div class="input-contenedor">
				<input id="p" type="password" name="password" class="form-control password1" placeholder="Contraseña"
					required>
				<span class="fa fa-fw fa-eye password-icon show-password"></span>
			</div>
			<!--Campos-->


			<!--Boton y links-->
			<input type="submit" value="Iniciar sesión" id="submit" class="button" />

			<br><br>


			<p><a class="link" href="/Recuperar">¿Olvidó su contraseña? </a></p>
			<p><a class="link" th:href="@{/registro}">Crear cuenta </a>
			</p>
			<!--Boton y links-->

		</div>




</body>




</html>