<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Registro de Estados de Ordenes</title>
	<!-- CSS and Bootstrap -->
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" href="/EstadopCSS/Estadop-Crear.css">
	<link rel="stylesheet" href="/CSS/Slide - Menú.css">
	<!-- CSS and Bootstrap -->

</head>
<!-- Logo -->
<link rel="icon" href="/IMG/table.svg" />
<!-- Logo -->
</head>

<!--Header-->
<header>

	<a class="">
		<img src="/IMG/Header-Administradores.png.gif" style="margin-top:-1% ; width: 100.1%; " />

</header>
<!--Header-->

<body>

	<!--JavaScript-->
	<script src="/js/validar.js"></script>
	<script src="/js/Slide - menú.js"></script>
	<script src="/EstadopCSS/Alert.js"></script>
	<!--JavaScript-->

	<!--Menu-->
	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<a href="index">Inicio</a>
		<a href="dashboard">Dashboard</a>
		<a href="/estadosp">Estados orden de producción</a>
		<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Cerrar sesión</a></li>
	</div>

	<div class="Menu">
		<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menú</span>
	</div>
	<!--Menu-->





	<br>
	<div class="formulario">
		<div class="row">
			<div>
				<h1>Nuevo registro</h1>
				<div class="card-body">
					<form th:action="@{/estadosp}" th:object="${estadosp}" method="POST">

						<div>
							<label>Orden de pruducción : </label>
							<select class="form-select" th:field="*{id_orden_de_produccion_fk}" required>
								<th:block th:each="o : ${lstO}">
									<option th:text="${o.id_orden_de_produccion}"
										th:value="${o.id_orden_de_produccion}"></option>
								</th:block>
							</select>
						</div>

						<br>

						<div>
							<label>Estado : </label>
							<select class="form-select" aria-label="Default select example"
								th:field="*{Nombre_estado_produccion}">

								<option value="En producción">En producción</option>
								<option value="Terminado">Terminado</option>

							</select>
						</div>



						<div>
							<button type="reset" class="btn btn-success">Limpiar</button>
						</div>

						<div>
							<button th:onclick="crearEstadop()" class="btn btn-success">Guardar</button>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>


</body>

</html>