<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Editar Orden de producción</title>
	<!-- CSS y Bootstrap -->
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" href="/OrdenpCSS/Ordenp-Editar.css">
	<link rel="stylesheet" href="/CSS/Slide - Menú.css">

	<!-- CSS y Bootstrap -->

	<!-- Logo -->
	<link rel="icon" href="/IMG/table.svg" />
	<!-- Logo -->
</head>

<!--Header-->
<header>

	<a class="">
		<img src="/IMG/Header-Administradores.png.gif" style="margin-top:-1% ; width: 100.1%; " />

</header>
<!--Header-->

<body>
	<!--JavaScript-->
	<script src="/OrdenpCSS/Alert.js"></script>
	<script src="/js/validar.js"></script>
	<script src="/js/Slide - menú.js"></script>
	<!--JavaScript-->

	<!--Menu-->
	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<a href="#">Inicio</a>
		<a href="/ordenesp">Orden de producción</a>
		<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Cerrar sesión</a></li>
	</div>

	<div class="Menu">
		<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menú</span>
	</div>
	<!--Menu-->

	<!--Formulario-->

	<div class="formulario">
		<div class="row">
			<div class="">
				<h1>Editar Orden</h1>
				<div>
					<form th:action="@{/ordenesp/{id}(id=${ordenesp.id_orden_de_produccion})}" th:object="${ordenesp}"
						method="POST">

						<div>
							<label>Cotización : </label>
							<select class="form-control" th:field="*{id_cotizacion_fk}" required>
								<th:block th:each="cotizacion : ${lstCo}">
									<option th:text="${cotizacion.id_cotizacion}"
										th:value="${cotizacion.id_cotizacion}"></option>
								</th:block>
							</select>
						</div>

						<div>
							<label>Id venta : </label>
							<select class="form-control" th:field="*{EstadoOrdenP}" required>
								<option value="EnProduccion">En Producción</option>
								<option value="Terminado">Terminado</option>
							</select>
						</div>

						<div>
							<label>Fecha : </label>
							<input type="date" name="Fecha" th:field="*{Fecha}" class="form-control" required>
						</div>

						<div>
							<button th:onclick="guardarOrdenp()" class="btn btn-success">Guardar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!--Formulario-->





</body>

</html>