<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Registro de Venta</title>
	<!-- CSS and Bootstrap -->
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" href="/VentaCSS/Venta-Crear.css">
	<link rel="stylesheet" href="/CSS/Slide - Menú.css">
	<!-- CSS and Bootstrap -->

</head>
<!-- Logo -->
<link rel="icon" href="/IMG/table.svg" />
<!-- Logo -->
</head>

<!--Header-->
<header>

	<a class="">
		<img src="/IMG/Header-Administradores.png.gif" style="margin-top:-1% ; width: 100.1%; " />

</header>
<!--Header-->

<body>

	<!--JavaScript-->
	<script src="/js/validar.js"></script>
	<script src="/js/Slide - menú.js"></script>
	<script src="/VentaCSS/Alert.js"></script>
	<!--JavaScript-->

	<!--Menu-->
	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<a href="index">Inicio</a>
		<a href="dashboard">Dashboard</a>
		<a href="/ventas">Ventas</a>
		<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Cerrar sesión</a></li>
	</div>

	<div class="Menu">
		<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menú</span>
	</div>
	<!--Menu-->





	<br>
	<div class="formulario">
		<div class="row">
			<div>
				<h1>Nueva venta</h1>
				<div class="card-body">
					<form th:action="@{/ventas}" th:object="${ventas}" method="POST">

						<div>
							<label>Vendedor : </label>
							<select class="form-select" th:field="*{id_vendedor_fk}" required>
								<th:block th:each="ve : ${lstV}">
									<option th:text="${ve.id_usuario_fk.Nombre}" th:value="${ve.id_vendedor}"></option>
								</th:block>
							</select>
						</div>

						<div>
							<label>Fecha : </label>
							<input type="date" name="Fecha" th:field="*{Fecha}" class="form-control" required>
						</div>

						<div>
							<label>Impuesto : </label>
							<input th:onkeypress="return SoloNumeros(event);" type="text" name="Impuesto"
								th:field="*{Impuesto}" class="form-control" placeholder="Digite el impuesto " required>
						</div>

						<div>
							<label>Valor Unitario : </label>
							<input th:onkeypress="return SoloNumeros(event);" type="text" name="valor_unitario"
								th:field="*{valor_unitario}" class="form-control"
								placeholder="Digite el valor unitario de la venta " required>
						</div>

						<br>
						<div>
							<label>Programación instalación : </label>
							<select class="form-select" th:field="*{id_Programacion_instalaciones_fk}" required>
								<th:block th:each="p : ${lstP}">
									<option th:text="${p.Fecha}" th:value="${p.id_Programacion_instalaciones}"></option>
								</th:block>
							</select>
						</div>



						<div>
							<button type="reset" class="btn btn-success">Limpiar</button>
						</div>

						<div>
							<button th:onclick="crearventa()" class="btn btn-success">Guardar</button>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>


</body>

</html>