<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head lang="es">
	<meta charset="utf-8">
	<title>El Cedro</title>


	<!-- CSS y Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.6.1.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<link rel="stylesheet" href="CSS/index.css">
	<link rel="stylesheet" href="CSS/cookie.css">
	<link rel="stylesheet" href="CSS/Slide - Menú.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

	<link rel="stylesheet" href="Social bar/font.css">
	<link rel="stylesheet" href="Social bar/main.css">
	<link rel="stylesheet" href="Social bar/style.css">
	<!-- CSS y Bootstrap -->

	<!-- Logo -->
	<link rel="icon" href="/IMG/tree.svg" />
	<!-- Logo -->
</head>

<body>

	<!--Cookies-->
	<div class="aviso-cookies" id="aviso-cookies">
		<img class="galleta" src="./img/cookie.svg" alt="Galleta">
		<h3 class="titulo">Cookies</h3>
		<p class="parrafo">Utilizamos cookies propias y de terceros para mejorar nuestros servicios.</p>
		<button class="boton" id="btn-aceptar-cookies">De acuerdo</button>
		<a class="enlace" href="cookies">Aviso de Cookies</a>
	</div>
	<div class="fondo-aviso-cookies" id="fondo-aviso-cookies"></div>
	<!--Cookies-->

	<!--JavaScript-->
	<script src="/js/NoTeVayas.js"></script>
	<script src="/js/cookie.js"></script>
	<script src="/js/Slide - menú.js"></script>
	<script src="/js/MensajeIndex.js"></script>
	<!--JavaScript-->


	<!--Mensaje-->
	<script>
		function Cerrar() {
			var resultado = window.confirm('Estas seguro?');
			if (resultado === true) {
				window.alert('Okay, si estas seguro.');
			} else {
				return false
			}
		}
	</script>
	<!--Mensaje-->



	<!--Header-->
	<header>

		<a href="">
			<img src="/IMG/Header-web.png" title="El Cedro" style="margin-top:-2% ; width: 100%; " />

	</header>
	<!--Header-->

	<!--Menu-->
	<div class="container" style="max-width: 150%;">
		<div class="tutorial">
			<ul>
				<a href="index">
					<li>Inicio</li>
				</a>

				<th:block sec:authorize="isAnonymous()">
					<a href="/login">
						<li>Iniciar sesión <i class="fa-solid fa-arrow-right-to-bracket"></i></li>
				</th:block>

				</a>
				<li>Inspiraciones <i class="fa fa-angle-down"></i>
					<ul style="max-width: 120%;">
						<a href="https://www.calameo.com/read/0064764772511493c05db" target="_blank">
							<li>Salas</li>
						</a>
						<a href="https://www.calameo.com/read/0064764772aef44efd3a8" target="_blank">
							<li>Comedores</li>
						</a>
						<a href="https://www.calameo.com/read/0064764770940b817492e" target="_blank">
							<li>Armarios</li>
						</a>
						<a href="https://www.calameo.com/read/006476477ff6d6f41cc58" target="_blank">
							<li>Alcobas</li>
						</a>
					</ul>
				</li>

				<th:block sec:authorize="hasAuthority('Administrador')">
					<a href="/administradores">
						<li>Administrador</li><a />
				</th:block>

				<th:block sec:authorize="hasAuthority('Jefe de produccion')">
					<a href="/dashboardP">
						<li>Jefe de producción</li><a />
				</th:block>

				<th:block sec:authorize="hasAuthority('Vendedor')">
					<a href="/dashboardV">
						<li> Vendedor</li><a />
				</th:block>

				<a onclick="mensaje()">
					<li>Contactanos</li><a />
			
				<th:block sec:authorize="hasAuthority('Cliente')">
				<a href="indexEN" title="Traducir esta pagina a INGLES">
				<li ><img src="/IMG/traduccion.png"></img></li></a>
				</th:block>
			
					<!--Usuario y cerrar sesion-->

					<div onclick="Cerrar()" sec:authorize="isAuthenticated()"
						style="float: right; text-decoration: none;">
						<a style="color: black; " sec:authorize="isAuthenticated()" title="Cerrar sesión"
							th:href="@{/logout}">
							<img src="/IMG/turn-off.png" style="max-width: 17px;margin-top: -4%;"></img>
						</a>
						<li title="usuario actual" sec:authentication="principal.username"></li>
					</div>

					<!--Usuario y cerrar sesion-->
			</ul>
		</div>
	</div>
	<!--Menu-->


	<!--Contenido-->

	<!--Social bar-->
	<div class="social-bar" style="margin-top: 5%;">
		<a href="https://www.facebook.com/Maderas-Finas-101500835023458/?modal=admin_todo_tour" target="_blank"
			class="icon icon-facebook"></a>
		<a href="https://wa.link/2rn9mf" target="_blank" class="icon icon-whatsapp"></a>
		<a href="https://www.instagram.com/" target="_blank" class="icon icon-instagram"></a>
	</div>
	<!--Social bar-->

	<!--Bienvenidos-->
	<div>
		<article>
			<h1 align="center" translate="no" lang="en"> Bienvenidos </h1><br>




			<p style="font-size: 110%;text-align:justify;"><strong>En el S.I "El Cedro" queremos brindar una herramienta
					que facilite la completa gestion de la
					empesa "MADERAS FINAS " , en donde puede encontrar tres diferentes apartados que ayudaran en la
					organización de la misma,
					los cuales son: Ventas , Inventario y Producción , disfruta de este sistema, visualiza nuestros
					diseños y organiza tus ventas en los modulos correspondientes.
				</strong>
			</p>
		</article>
	</div><br><br><br>
	<!--Bienvenidos-->

	<!--Imagenes-->
	<div>
		<center>
			<section>
				<img
					src="https://images.unsplash.com/photo-1606425288528-4cebbfc69de7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fG11ZWJsZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" />
				<img
					src="https://images.unsplash.com/photo-1568150506393-77e98bba42fb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fG11ZWJsZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" />
				<img
					src="https://images.unsplash.com/photo-1563371557-d98db5294563?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzB8fG11ZWJsZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" />
				<img
					src="https://images.unsplash.com/photo-1523755231516-e43fd2e8dca5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzN8fG11ZWJsZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" />
				<img
					src="https://images.unsplash.com/photo-1568347760450-1ef7874c5f5f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzV8fG11ZWJsZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" />
				<img
					src="https://images.unsplash.com/photo-1618220179428-22790b461013?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDR8fG11ZWJsZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" />
			</section>
		</center>
	</div>
	<!--Imagenes-->

	<!--Categorias-->
	<br><br><br><br>
	<h1 align="center"> Nuestras categorias </h1>
	<br><br><br>

	<div class="row">

		<div class="flip-card">
			<div class="flip-card-inner">
				<div class="flip-card-front">
					<img src="/IMG/Salas.jpg" alt="Avatar" style="width:350px;height:300px;">
				</div>

				<div class="flip-card-back">
					<h2 id="h1">Salas</h2>
					<p>Explora la belleza de estas salas para inspirarte en la creación de tu espacio personal.
						A continuación, te invitamos a conocer de cerca de los precios del trabajo de los expertos en
						decoración de Maderas Finas
						y a realizar una cotizacion aproximada del producto.</p>
					<a href="https://www.calameo.com/read/0064764772511493c05db" target="_blank"><br>
						<input type="button" value="Inspírate" id="submit" class="button"
							title="Experimenta el arte visual de Maderas Finas" />
					</a>
				</div>
			</div>

		</div><br><br>




		<div class="flip-card">
			<div class="flip-card-inner">
				<div class="flip-card-front">
					<img src="/IMG/Comedores.jpg" alt="Avatar" style="width:350px;height:300px;">
				</div>
				<div class="flip-card-back">
					<h2 id="h1">Comedores</h2>
					<p>Explora la belleza de estos comedores para inspirarte en la creación tu espacio personal.
						A continuación, te invitamos a conocer de cerca de los precios del trabajo de los expertos en
						decoración de Maderas Finas
						y a realizar una cotizacion aproximada del producto.</p>
					<a href="https://www.calameo.com/read/0064764772aef44efd3a8" target="_blank"><br>
						<input type="button" value="Inspírate" id="submit" class="button"
							title="Experimenta el arte visual de Maderas Finas" />
					</a>
				</div>
			</div>
		</div><br><br>


		<div class="flip-card">
			<div class="flip-card-inner">
				<div class="flip-card-front">
					<img src="/IMG/Walking-closets.jpg" alt="Avatar" style="width:350px;height:300px;">
				</div>
				<div class="flip-card-back">
					<h2 id="h1">Armarios</h2>
					<p>Explora la belleza de estos armarios para inspirarte en la creación tu espacio personal.
						A continuación, te invitamos a conocer de cerca de los precios del trabajo de los expertos en
						decoración de Maderas Finas
						y a realizar una cotizacion aproximada del producto.</p><br>
					<a href="https://www.calameo.com/read/0064764770940b817492e" target="_blank">
						<input type="button" value="Inspírate" id="submit" class="button"
							title="Experimenta el arte visual de Maderas Finas" />
					</a>
				</div>
			</div>
		</div><br><br>


		<div class="flip-card">
			<div class="flip-card-inner">
				<div class="flip-card-front">
					<img src="/IMG/Alcobas.jpg" alt="Avatar" style="width:350px;height:300px;">
				</div>
				<div class="flip-card-back">
					<h2 id="h1">Alcobas</h2>
					<p>Explora la belleza de estas alcobas para inspirarte en la creación tu espacio personal.
						A continuación, te invitamos a conocer de cerca de los precios del trabajo de los expertos en
						decoración de Maderas Finas
						y a realizar una cotizacion aproximada del producto.</p><br>
					<a href="https://www.calameo.com/read/006476477ff6d6f41cc58" target="_blank">
						<input type="button" value="Inspírate" id="submit" class="button"
							title="Experimenta el arte visual de Maderas Finas" />
					</a>
				</div>
			</div>
		</div><br><br>
	</div>
	<!--Categorias-->

	<!--Boton Cotizar-->
	<center>
		<div style="margin-top: 5%;">
			<a href="cotizacion-cliente" style="text-decoration: none;">
				<input type="button" value="Cotizar" id="submit" class="btn-grad"
					title="Hacer una cotización de tu producto favorito" />
			</a>
		</div>
	</center>
	<!--Boton Cotizar-->


	<!--selección-->

	<!--Video-->
	<center>
		<div style="margin-top: 7%;">
			<h1>Video corporativo </h1><br><br><br>
			<video autoplay width=820 height=450 loop muted>
				<source src="/Videos/animation.mp4" type="video/webm">
				<source src="/Videos/animation.mp4" type="video/ogg">
				<source src="/Videos/animation.mp4" type="video/mp4">
			</video>
		</div>
	</center>
	<!--Video-->

	<!--Ubicacion-->
	<br><br><br><br><br><br><br>
	<center>

		<div>
			<h1> Ubicación </h1><br><br>

			<iframe
				src="https://www.google.com/maps/embed?pb=!4v1663197164077!6m8!1m7!1sHN2K3KLqpsD6lFdihx8i3w!2m2!1d4.496065045460665!2d-74.10383881283701!3f168.70882730610592!4f8.599958278640997!5f0.7820865974627469"
				width="820" height="450" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
				class="maps">
			</iframe>
		</div>

	</center>
	<!--Ubicacion-->

	<!--Contenido-->


	<!--footer-->

	<footer style="margin-top: 20%;width: 100%;">

		<div class="footer-content">
			<h3 style="color: black;">El Cedro</h3>
			<p>El Cedro es un sistema de información encargado de la gestión de ventas, inventario y
				producción de la empresa Madera Finas.
			</p>
			<ul class="socials">
				<li><a href="https://www.facebook.com/Maderas-Finas-101500835023458/?modal=admin_todo_tour"><i
							class="fa fa-facebook"></i></a></li>
				<li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></i></a></li>
				<li><a href="https://wa.link/2rn9mf"><i class="fa-brands fa-whatsapp"></i></a></li>
				<li><a href="https://www.youtube.com/channel/UC9bGWjljEqoiyDs4LK2I0lw"><i class="fa fa-youtube"></i></a>
				</li>
			</ul>
		</div>
		<div class="footer-bottom" style="width: 100%;">
			<p>copyright &copy;2023 El Cedro </p>
			<div class="footer-menu">
				<ul class="f-menu">
					<li><a href="index">Inicio</a></li>
					<li style="cursor: pointer;"><a onclick="mensaje()">Contactanos</a></li>

				</ul>
			</div>
		</div>

	</footer>

	<!--footer-->



</body>

</html>