<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
	<!-- Logo -->
	<link rel="icon" href="https://cdn-icons-png.flaticon.com/512/9880/9880656.png" />
	<!-- Logo -->

	<meta charset="UTF-8">
	<title>El Cedro - Nueva contraseña </title>
	<meta name="viewport"
		content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

	<!--CSS-->
	<link rel="stylesheet" href="/CSS/ResetPassword.css">
	<!--CSS-->

	<style>
		.formulario {
			margin-top: 15%;
		}
	</style>


</head>

<body>

	<!--Script-->
	<script type="text/javascript">
		function PasswordVerification() {

			pass1 = document.getElementById('pass1');
			pass2 = document.getElementById('pass2');

			if (pass1.value != pass2.value) {
				sweetAlert("Lo siento...", "❗❗Las contraseñas 🔑 no coinciden❗❗", "error");

				return false;
			} else {
				return true;
			}
		}
	</script>
	<!--Script-->


	<!--Video-->
	<div>
		<video autoplay loop muted plays-inline id="myVideo">
			<source src="/Videos/LogIn-2.mp4" type="video/webm">
			<source src="/Videos/LogIn-2.mp4" type="video/ogg">
			<source src="/Videos/LogIn-2.mp4" type="video/mp4">
		</video>
	</div>
	<!--Video-->

	<!--JavaScript-->
	<script src="https://code.jquery.com/jquery-3.6.1.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="js/InicioSesion.js"></script>
	
	<form  th:action="@{/reset_password}" method="post" 
	style="margin-left: 50%;margin-top: 17%;" class="formulario">
		<input type="hidden" name="token" th:value="${token}" />
		<!--JavaScript-->

		<h1>Digita tu nueva contraseña</h1>
		<div class="contenedor">

			<div>
				<p>
				<div class="input-contenedor">
					<i class="fas fa-key icon"></i>
					<input type="password" name="password" id="pass1" placeholder="Ingresa tu nueva contraseña" required
						autofocus />
				</div>
				</p>
				<p>
				<div class="input-contenedor">
					<i class="fas fa-key icon"></i>
					<input type="password" placeholder="Confirma tu contraseña" required id="pass2"
						name="confirmPassword" />
				</div>
				</p>
				<p class="text-center">
					<button th:onclick="return PasswordVerification()" class="button" id="boton">Cambiar</button>

				</p>
			</div>
		</div>
	</form>
</body>

</html>