
*{
	max-width: 100%;
}
.body{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*botonera*/

.container {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  margin-right:300%;
}

.tutorial {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 170%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  
}


.tutorial .information h1 {
  color: #333;
  font-size: 1.5rem;
  padding: 0px 10px;
  border-left: 3px solid #f03861;
  text-decoration: none;
}
.tutorial .information h3 {
  color: #e0e0e0;
  font-size: 1rem;
  font-weight: 300;
  padding: 0px 10px;
  border-left: 3px solid #f03861;
  text-decoration: none;
}

.tutorial ul {
  font-size: 0;
  list-style-type: none;
  text-decoration: none;
}
.tutorial ul li {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  display: inline-block;
  padding: 15px;
  position: relative;
  text-decoration: none;
}
.tutorial ul li ul {
  display: none;
  text-decoration: none;
}
.tutorial ul li:hover {
  cursor: pointer;
  background-color: #f2f2f2;
  text-decoration: none;
}
.tutorial ul li:hover ul {
  display: block;
  margin-top: 15px;
  width: 200px;
  left: 0;
  position: absolute;
  text-decoration: none;
}
.tutorial ul li:hover ul li {
  display: block;
  background-color: #e7e7e7;
  text-decoration: none;
}
.tutorial ul li:hover ul li span {
  float: right;
  color: #f9f9f9;
  background-color: #f03861;
  padding: 2px 5px;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 3px;
  text-decoration: none;
}
.tutorial ul li:hover ul li:hover {
  background-color: #e0e0e0;
  text-decoration: none;
}
.tutorial ul li:hover ul li:hover span {
  background-color: #ee204e;
  text-decoration: none;
}




/*botonera*/

/*Contenido*/ 
/*Formulario*/

 .formulario{
	
	 margin:34%;
     background: white;
     background-color: white;
     box-shadow: 0px 0px 30px rgb(128, 64, 0);
     margin-top: 1%;
     padding: 30px 40px;
     height: 860px;
     width: 34%;
     
    
       
 }
 
h1{
  padding-bottom:5%;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 70px;
  color:  #DBBA9D;
  -webkit-text-stroke: 1px #663E39 ;
} 

 
 .btn-success{
	margin-top: 10%;
    text-decoration: none;
	border: none;
	width: 30%;
	color: white;
	font-size: 20px;
	background: #663E39;
	border-radius: 5px;
	cursor: pointer;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
   
}

.btn-success:hover{
	
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	
	background: #DBBA9D;
    
}
 


 
/*Formulario*/




/*Contenido*/


/* footer */

	footer{
	
    
    bottom: 0;
    left: 0;
    right: 0;
    background:#E8E8E8;
    height: auto;
    width: 100vw;

    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: rgb(0, 0, 0);
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 1.1px solid white;
    padding: 5px;

    border-radius: 50%;

}
.socials a i{
    font-size: 1.1rem;
    width: 20px;


    transition: color .4s ease;

}
.socials a:hover i{
    color: rgb(143, 92, 54);
}

.footer-bottom{
    background: #B7B7B7;
    width: 100vw;
    padding: 20px;
padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p{
float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.footer-menu{
  float: right;

}
.footer-menu ul{
  display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.footer-menu ul li a:hover{
  color: rgb(143, 92, 54);
}
      
@media (max-width:500px) {
.footer-menu ul{
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}
}

