<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Editar Venta</title>
	<!-- CSS y Bootstrap -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" href="/VentaCSS/Venta-Editar.css">
	<link rel="stylesheet" href="/CSS/Slide - Menú.css">

	<!-- CSS y Bootstrap -->

	<!-- Logo -->
	<link rel="icon" href="/IMG/table.svg" />
	<!-- Logo -->
</head>

<!--Header-->
<header>

	<a class="">
		<img src="/IMG/Header-Administradores.png.gif" style="margin-top:-1% ; width: 100.1%; " />

</header>
<!--Header-->

<body>

	<!--JavaScript-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.all.js"></script>
	<script src="/js/validar.js"></script>
	<script src="/js/Slide - menú.js"></script>
	<script src="/VentaCSS/Alert.js"></script>
	<!--JavaScript-->

	<!--Menu-->
	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<a href="#">Inicio</a>
		<a href="/ventas">Ventas</a>
		<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Cerrar sesión</a></li>
	</div>

	<div class="Menu">
		<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menú</span>
	</div>
	<!--Menu-->

	<!--Formulario-->

	<div class="formulario">
		<div class="row">
			<div class="">
				<h1>Editar venta</h1>
				<div>
					<form th:action="@{/ventas/{id}(id=${ventas.id_ventas})}" th:object="${ventas}" method="POST">


						<div>
							<label>Fecha : </label>
							<input type="date" name="Fecha" th:field="*{Fecha}" class="form-control" required>
						</div>
						<br>
						<div>
							<label>Orden Producción : </label>
							<select class="form-control" th:field="*{id_ordenDeProduccion_fk}" required>
								<th:block th:each="OrdenP : ${lstOrdenp}">
									<option th:text="${OrdenP.id_orden_de_produccion}"
										th:value="${OrdenP.id_orden_de_produccion}"></option>
								</th:block>
							</select>
						</div>

						<br>


						<div>
							<button th:onclick="guardarventa()" class="btn btn-success">Guardar</button>

						</div>

					</form>

				</div>
			</div>
		</div>
	</div>

	<!--Formulario-->





</body>

</html>