<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Registro de Salidas</title>
	<!-- CSS and Bootstrap -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" href="/SalidaCSS/Salida-Crear.css">
	<link rel="stylesheet" href="/CSS/Slide - Menú.css">
	<!-- CSS and Bootstrap -->

</head>
<!-- Logo -->
<link rel="icon" href="/IMG/table.svg" />
<!-- Logo -->
</head>

<!--Header-->
<header>

	<a class="">
		<img src="/IMG/Header-Administradores.png.gif" style="margin-top:-1% ; width: 100.1%; " />

</header>
<!--Header-->

<body>

	<!--JavaScript-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.all.js"></script>
	<script src="/SalidaCSS/Alert.js"></script>
	<script src="/js/validar.js"></script>
	<script src="/js/Slide - menú.js"></script>
	<!--JavaScript-->

	<!--Menu-->
	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<a href="index">Inicio</a>
		<a href="/salidas">Salidas</a>
		<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Cerrar sesión</a></li>
	</div>

	<div class="Menu">
		<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menú</span>
	</div>
	<!--Menu-->





	<br>
	<div class="formulario">
		<div class="row">
			<div>
				<h1>Nueva salida</h1>
				<div class="card-body">
					<form th:action="@{/salidas}" th:object="${salidas}" method="POST">

						<div>
							<label>Orden de producción : </label>
							<select class="form-control" th:field="*{id_orden_pro_fk}" required>
								<th:block th:each="Orden : ${lstO}">
									<option th:text="${Orden.id_orden_de_produccion}"
										th:value="${Orden.id_orden_de_produccion}"></option>
								</th:block>
							</select>
						</div>

						<div>
							<label>Insumo : </label>
							<select class="form-control" th:field="*{Id_insumo_fk}" required th:name="idInsumo">
								<th:block th:each="I : ${lstI}">
									<option th:text="${I.Nombre}" th:value="${I.Id_insumo}" id="id"></option>
								</th:block>
							</select>
						</div>

						<div>
							<label>Fecha : </label>
							<input type="date" th:field="*{Fecha}" class="form-control" 
							required min="2023-01-01" max="2023-12-31">
						</div>

						<div>
							<label>Cantidad : </label>
							<input th:onkeypress="return SoloNumeros(event);" type="text" th:name="cantidad"
								th:field="*{Cantidad}" class="form-control"
								placeholder="Cantidad mayor a 0 " required>
						</div>

						<br>

						<div>
							<button type="reset" class="btn btn-success">Limpiar</button>
						</div>
						<div>
							<button th:onclick="crearsalida()" class="btn btn-success">Guardar</button>
						</div>

					</form>




				</div>
			</div>
		</div>
	</div>


</body>

</html>