<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Lista de Insumo</title>
	<!-- CSS y Bootstrap -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

	<link rel="stylesheet" href="InsumoCSS/Insumo.css">
	<link rel="stylesheet" href="CSS/Slide - Menú.css">
	<!-- CSS y Bootstrap -->

	<!-- Logo -->
	<link rel="icon" href="/IMG/table.svg"/>
	<!-- Logo -->
</head>

<body>
	<!--JavaScript-->
	<script src="https://code.jquery.com/jquery-3.6.1.js"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="/js/dataTables.js"></script>

	<script src="/InsumoCSS/Alert.js"></script>
	<script src="/js/Slide - menú.js"></script>

	/*Exportar*/
	<script src="/js/Exportar TABLE.js"></script>
	<script src="/js/html2pdf.bundle.js"></script>
	/*Exportar*/
	<!--JavaScript-->




	<!--Header-->
	<header>

		<a href="">
			<img src="/IMG/Header-CRUD.png" alt="" style="margin-top:-2% ; width: 100%; " />


			<!--Header-->

			<!--Menu-->
			<div id="mySidenav" class="sidenav">
				<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
				<a href="index">Inicio</a>
				<a href="dashboard">Dashboard</a>
				<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Cerrar sesión</a></li>
			</div>

			<div class="Menu">
				<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menú</span>
			</div>
			<!--Menu-->


			<!--Tabla Insumos-->
			<div class="container">

				<h1>Lista de Insumos</h1>

				<div class="row">
					<div>
						<a th:href="@{/insumos/nuevo}" class="Cs">Nuevo Insumo</a>
					</div>

					<div class="col-lg-1">
						<a onclick="test()" class="CsP" title="Descargar en pdf">
							<img src="img/pdf.svg" style="height: 25px;width: 25px;"></a>
					</div>

					<div>
						<a onclick="exportTableToExcel('usuarios')" class="CsE" title="Descargar en xls">
							<img src="img/excel.svg" style="height: 25px;width: 25px;"></a>
					</div>


				</div>
				<br>
				<table class="table table-striped table-bordered" id="usuarios">
					<thead class="ColorT">
						<tr>
							<th>Id</th>
							<th>Nombre</th>
							<th>Categoria Insumo</th>
							<th>Unidad Medida</th>
							<th>Precio</th>
							<th>Stock</th>
							<th>Distribuidor</th>
							<th>Teléfono distribuidor</th>



							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="i : ${insumos}">
							<td th:text="${i.id_insumo}">Id</td>
							<td th:text="${i.Nombre}">Nombre</td>
							<td th:text="${i.Id_categoria_insumo_fk.Nombre_categoria_insumos}">Categoria</td>
							<td th:text="${i.Unidad_de_medida}">Apellido</td>
							<td th:text="${i.Precio}">Tipo documento</td>
							<td th:text="${i.Stock}">Documento</td>
							<td th:text="${i.Distribuidor}">Direccion</td>
							<td th:text="${i.Tel_distribuidor}">Teléfono</td>





							<!--Botones Acciones-->
							<td>

								<a th:href="@{/insumos/editar/{id}(id=${i.id_insumo})}" class="btn btn-info">
									<img src="img/Edit.svg"></a>


								<a th:onclick="eliminarinsumo([[${i.id_insumo}]])" class="btn btn-danger">
									<img src="img/bx-trash-alt.svg"></a>

							</td>
							<!--Botones Acciones-->
						</tr>
					</tbody>
				</table>
			</div>


			<!--Tabla Insumos-->


			<!--footer-->

			<footer style="margin-top: 10%;width: 100%;">

				<div class="footer-content">
					<h3 style="color: black;">El Cedro</h3>
					<p>El Cedro es un sistema de información encargado de la gestión de ventas, inventario y
						producción de la empresa Madera Finas.
					</p>
					<ul class="socials">
						<li><a href="https://www.facebook.com/Maderas-Finas-101500835023458/?modal=admin_todo_tour"><i
									class="fa fa-facebook"></i></a></li>
						<li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></i></a></li>
						<li><a href="https://wa.link/2rn9mf"><i class="fa-brands fa-whatsapp"></i></a></li>
						<li><a href="https://www.youtube.com/channel/UC9bGWjljEqoiyDs4LK2I0lw"><i
									class="fa fa-youtube"></i></a>
						</li>
					</ul>
				</div>
				<div class="footer-bottom" style="width: 100%;">
					<p>copyright &copy;2022 El Cedro </p>
					<div class="footer-menu">
						<ul class="f-menu">
							<li><a href="index">Inicio</a></li>
							<li style="cursor: pointer;"><a onclick="mensaje()">Contactanos</a></li>

						</ul>
					</div>
				</div>

			</footer>


			<!--footer-->



</body>

</html>