<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Lista de Diseños</title>
	<!-- CSS y Bootstrap -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">


	<link rel="stylesheet" href="DisenoCSS/Disenos.css">
	<link rel="stylesheet" href="CSS/Slide - Menú.css">
	<!-- CSS y Bootstrap -->

	<!-- Logo -->
	<link rel="icon" href="/IMG/table.svg" />
	<!-- Logo -->
</head>

<body>
	<!--JavaScript-->
	<script src="https://code.jquery.com/jquery-3.6.1.js"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="/js/dataTables.js"></script>

	<script src="/DisenoCSS/Alert.js"></script>
	<script src="/js/Slide - menú.js"></script>

	/*Exportar*/
	<script src="/js/Exportar TABLE.js"></script>
	<script src="/js/html2pdf.bundle.js"></script>
	/*Exportar*/
	<!--JavaScript-->




	<!--Header-->
	<header>

		<a href="">
			<img src="/IMG/Header-CRUD.png" alt="" style="margin-top:-2% ; width: 100%; " />


			<!--Header-->

			<!--Menu-->
			<div id="mySidenav" class="sidenav">
				<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
				<a href="index">Inicio</a>
				<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Cerrar sesión</a></li>
			</div>

			<div class="Menu">
				<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menú</span>
			</div>
			<!--Menu-->



			<!--Tabla disenos-->
			<div class="container">

				<h1>Lista de diseños</h1>

				<!--CargarArchivos-->
				<center>
					<form th:action="@{/prueba/cargar2}" method="POST" enctype="multipart/form-data">
						<div class="row" id="c">

							<!--Alerts-->
						
								<div th:if=${param.exito}>
									<div class="alert alert-success">Carga Realizada Correctamente</div>
								</div>
								<div th:if=${param.fallo}>
									<div class="alert alert-danger" role="alert">El archivo seleccionado ya se encuentra cargado</div>
								</div>
					
							<!--Alerts-->

							<!--TypeFile and Button-->
							<div class="form-group col-md-11" id="c">
								<input type="file" name="files" onchange="" class="form-control" id="formFileSm"
									required="required">
								<label class="custom-file-label" for="formFileSm"
									aria-describedby="inputGroupFileAddon02">Selecciona archivo para la carga
									masiva</label>
							</div>
							<div class="form-group col-md-1" id="c">
								<button  class="btn btn-outline-primary">Subir</button>
							</div>
							<!--TypeFile and Button-->
						</div>
					</form>
				</center>

				<!--CargarArchivos-->

				<!--Exportar-->
				<div class="row" id="c">

					<div class="form-group col-md-2" id="c">
						<a th:href="@{/disenos/nuevo}" class="Cs">Nuevo diseño</a>
					</div>

					<div class="form-group col-md-1" id="c">
						<a onclick="test()" class="CsP" title="Descargar en pdf">
							<img src="img/pdf.svg" style="height: 25px;width: 25px;"></a>
					</div>

					<div class="form-group col-md-1" id="c">
						<a onclick="exportTableToExcel('usuarios')" class="CsE" title="Descargar en xls">
							<img src="img/excel.svg" style="height: 25px;width: 25px;"></a>
					</div>


				</div>
				<!--Exportar-->

				<br>
				<table class="table table-striped table-hover" id="usuarios">
					<thead class="ColorT">
						<tr>
							<th>Id</th>
							<th>Diseño</th>




							<th>Acciones</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="d : ${disenos}">
							<td th:text="${d.id_diseno}">Id</td>
							<td th:text="${d.Nombre_d}">Nombre</td>






							<!--Botones Acciones-->
							<td>
								<center>
									<a th:href="@{/disenos/editar/{id}(id=${d.id_diseno})}" class="btn btn-info">
										<img src="img/Edit.svg"></a>


									<a th:onclick="eliminarDiseno([[${d.id_diseno}]])" class="btn btn-danger">
										<img src="img/bx-trash-alt.svg"></a>
								</center>
							</td>
							<!--Botones Acciones-->
						</tr>
					</tbody>
				</table>
			</div>


			<!--Tabla Usuarios-->


			<!--footer-->


			<footer style="margin-top: 10%;width: 100%;">

				<div class="footer-content">
					<h3 style="color: black;">El Cedro</h3>
					<p>El Cedro es un sistema de información encargado de la gestión de ventas, inventario y
						producción de la empresa Madera Finas.
					</p>
					<ul class="socials">
						<li><a href="https://www.facebook.com/Maderas-Finas-101500835023458/?modal=admin_todo_tour"><i
									class="fa fa-facebook"></i></a></li>
						<li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></i></a></li>
						<li><a href="https://wa.link/2rn9mf"><i class="fa-brands fa-whatsapp"></i></a></li>
						<li><a href="https://www.youtube.com/channel/UC9bGWjljEqoiyDs4LK2I0lw"><i
									class="fa fa-youtube"></i></a>
						</li>
					</ul>
				</div>
				<div class="footer-bottom" style="width: 100%;">
					<p>copyright &copy;2023 El Cedro </p>
					<div class="footer-menu">
						<ul class="f-menu">
							<li><a href="index">Inicio</a></li>
							<li style="cursor: pointer;"><a onclick="mensaje()">Contactanos</a></li>

						</ul>
					</div>
				</div>

			</footer>

			<!--footer-->



</body>

</html>