<!DOCTYPE html>
<html lang="en">

<head>

	<!-- Logo -->
	<link rel="icon" href="/IMG/money.png" />
	<!-- Logo -->
	<meta charset="UTF-8">
	<title>Pago Confirmado!! - Maderas Finas</title>

	<style>
		* {
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;      
			max-height: 100%;
			max-width: 100%;
		}

		body {
			/*background-image: url('/IMG/fondoCafeClaro.png');*/
			background-color: #572D1B;
			
		}
	</style>
</head>

<body>
	<!--Video-->
	<center>
		<div style="margin-top: 10%;">
			<video autoplay width=820 height=450 loop muted>
				<source src="/Videos/sold.mp4" type="video/webm">
				<source src="/Videos/sold.mp4" type="video/gif">
				<source src="/Videos/sols.mp4" type="video/mp4">
			</video>
		</div>
	</center>
	<!--Video-->
	
	<!--Logos-->
	<center>
	<div class="row" style="margin-top: 10%;color: white;">
	<div class="form-group col-md-6">
	<h3>copyright &copy;2023</h3>
	</div>
	<div class="form-group col-md-6">
	<h3>Maderas Finas / El Cedro</h3>
	</div>
	</div>
	</center>
	<!--Logos-->
</body>

</html>


